* {
  color: #000000;
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}

.page-header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.page-header-span {
  color: #2e2f42;
}

.page-nav ul {
  font-weight: 500;
}
.page-nav li {
  list-style-type: none;
}
.page-header-link {
  color: #2e2f42;
}
.page-header-link:hover,
.page-header-link:focus {
  color: #404bbf;
}
.page-header :focus,
.page-header:active {
  border: 1px #e7e9fc;
}
.page-header :hover {
  border: 2px #e7e9fc;
}

.page-header-adress {
  font-style: normal;
}
.page-header-link {
  font-style: normal;
  font-weight: 400;
  color: #434455;
}
.page-header-link:hover,
.page-header-link:focus {
  color: #404bbf;
}

.page-header-adress li {
  list-style-type: none;
}

/* hero */
.page-hero {
  background-color: #2e2f42;
  text-align: center;
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: white;
  letter-spacing: 0.02em;
}

.hero-btn {
  color: white;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* trait */
.trait-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.title-second {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.trait-text {
  color: #434455;
}

/* team */
.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
}

/* footer */
.page-footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
}
.footer-logo-span {
  color: #f4f4fd;
}
